/aula2/Aula2/nbproject/private/
/aula2/Aula2/build/
/aula2/aula2/nbproject/private/
/aula2/aula2/build/
/aula1/nbproject/private/
/aula1/build/
/aula3/nbproject/private/
/aula3/build/
/aula4/nbproject/private/
/aula4/build/
/contaBancaria/nbproject/private/
/contaBancaria/build/
/projetoContaBancaria/nbproject/private/
/projetoContaBancaria/build/
/UltraEmojiCombat/build/